.center {
	align-content: center;
}

.containerContents {  	
	display: flex;
	justify-content: center;
}

.content {
	width: 70%;
	text-align: justify; 
	padding: 25px;
}

.iconeCentralizado{
	text-align: center;
}

.iconeRedesSociais {
	padding: 0.3em 1em 2em 1em;
	color: #e45c04;
	font-size: 2.5em;
	;
}
.top{
	padding-top: 3em;
}