.padrao  {  	
	background: #F8F8FF;  
	line-height: 1.5;
	font-family: arial;
  	font-style: normal;
}
.font20{
	font-size: 20px;
}
.font18{
	font-size: 18px;
}
.font16{
	font-size: 16px;
}

@media(max-width: 500px){
	.contents {
		width: 85%;
		text-align: justify; 
		padding: 1em 25px 25px 25px;
	}
}
@media(min-width: 501px){
	.contents {
	width: 70%;
	text-align: justify; 
	padding: 0.6em 25px 25px 25px;
}
}
.container_Contents {  	
	display: flex;
	justify-content: column;
	justify-content: center;
}

.displayFlex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 500px){
	.cabecalhoOrdem {
		display: flex;
		justify-content: space-around;
		margin-top: 1em;
	}
		.cabecalhoBoxEsquerda {
		  	width: 50%
		  	justify-content: space-between;
		}	
			.cabecalhoLogo{
				height: 4em;
			}
	.cabecalhoBoxDireita {
		width: 50%;
		z-index: 1;
	}
	.cabecalhoDireita {
		justify-content: flex-end;
		display: flex;
	}

		.menuButton {
			border-style: none;
			background-color:  #F8F8FF;
		}
		.menuExpandido {
			flex-direction: column;
			display:none;
		}
			.cabecalhoIcone {
				height: 5em;
				border-style: none;
			}
	/* apareceMenuExpandido habilitada apenas no JavaScript*/
	.apareceMenuExpandido {
		display:block;
		position:absolute;
		background-color: #F8F8FF;
		padding: 0.2em 0 1em 1.5em;
		border-left: 1px solid #090;
		border-bottom: 1px solid #090;
		width: 50%;
		border-radius: 0 0 0 1em;
		line-height: 1.7; /*Espaçamento entre as linhas*/
	}
}

@media (min-width: 501px){
	.cabecalhoOrdem {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		margin-top: 1em;
	}
		.cabecalhoBoxEsquerda {
		  	width: 17%;
		}	
			.cabecalhoBoxLogo {
				display: flex;
				justify-content: center;
			}
	.cabecalhoBoxDireita {
		width: 83%;
	}
		.menuButton {
			display: none;
		}
		.menuExpandido{
			width: 100%;
			justify-content: space-around;
			display: flex;
			padding-top:  0.3em;
		}
			.cabecalhoIcone {
				display: none;
			}
}

.espace {
	padding-bottom: 0.9em;
}

a {
	text-decoration:none; 
}

.textoLaranja {
	color: #e45c04; /*laranja*/
}
.textoLaranja:hover {
	/*background-color: #FF8C00;
	color: #FFFFFF ;
	padding: 0.3em;*/
}

.textoBranco {
	color: white;
}

.displayCenter {
	display: flex;
	justify-content: center;
}

.titulo{
	text-align: center;
	font-weight: bold;
	padding-top: .6em;
	padding-bottom: 1.1em;
}

.contornoRedondo{
	border-radius: 10px;
}

@media(max-width: 500px){
	.imgAvulsaPrincipal {
		width: 9em;
		height: 9em;
	}
}
@media(min-width: 501px){
	.imgAvulsaPrincipal {
		width: 14em;
		height: 14em;
	}
}

.cabecalho {
	background-image: linear-gradient(#D2691E, #ff6128);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	padding: 1em;
}

.espaco_Line{
	line-height: 1.7em;
}
.espacoIcone {
	padding-top: 1em;
}